h2{
    color: #2d80e1;
}


#wrapper{
    background-color: whitesmoke;
    color: black;
    float : left;
    width : 1400px;
    height: 1650px;
    margin-left : 10px;
    margin-top : 10px;
    margin-right : 10px;
    box-align : center;
}

/* //////////////////////////////////////////////////// */
#header{
    background-image: url("headerOmnesSante.png");
    float : left;
    width : 100%;
    height : 347px;
}

#boxProfilAdmin{
    float : right;
    width:150px;
    margin-top: 5px;
    margin-right : 30px;
    background-color: #11ffee00; /* fond transparent */
}


#btnProfilAdmin{
    float: right;
    background-color: #11ffee00;
    border: none;
    cursor: pointer; /* souris change qd sur bouton */
    font-size: 15px;
    font-family: Georgia;
}

/* /////////////////////////////////////// */
#navigation{
    float : left;
    width: 15%;
    margin-top: 3%;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}

form{
    width:100%;
    padding: 10px;
    padding-bottom: 20px;
    background: whitesmoke;
    font-family: 'Georgia';
    text-align: center;
}

#formMonProfil{
    width:100%;
    margin: 0 auto; 
    background-color: #11ffee00; /* transparent */
    font-family: 'Georgia';
    text-align: center;
}

input[type=submit] {
    background-color: #0c88c6;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer; /* souris change qd sur bouton */
    width: 80%;
    font-size: 14px;
    border-radius: 10px;
}

input[type=submit]:hover { /* couleur quand souris sur le bouton */ 
    background-color: white;
    color: #2d80e1;
    border: 1px solid #2d80e1;
    font-size: 14px;
    border-radius: 10px;
}


/* ////////////////////////////////////// */
#section{
    float : left;
    width : 80%;
}
#img_event1{
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#img_event2{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#img_event3{
    float: left;
    width: 25%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}
#texte_event1{
    float: left;
    width: 60%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#texte_event2{
    float: left;
    width: 55%;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#texte_event3{
    float: left;
    width: 55%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}



#photo_medecin{
    float: left;
    width: 27%;
    margin-left: 150px;
    margin-top: 25px;

}
#infos_medecin{
    float: left;
    width: 55%;
    margin-left: 15px;
    margin-top: 25px;  
}
#planning_medecin{
    float: left;
    margin-left: 80px;
    margin-top: 30px;
}
#priseDeRdv{
    float: left;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#CommuniquerAvecMedecin{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#VoirCV{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}



#tableau_addictologue{
    float: left;
    width:  15%;
    margin-left: 160px;
    margin-top: 25px;
}
#tableau_andrologue{
    float: left;
    width:  15%;
    margin-top: 25px;
    margin-left: 25px;
}
#tableau_cardiologue{
    float: left;
    width:  15%;
    margin-top: 25px;
    margin-left: 25px;
}
#tableau_dermatologue{
    float: left;
    width:  15%;
    margin-top: 25px;
    margin-left: 25px;
}
#tableau_gastroHepatoEnterologue{
    float: left;
    width:  27%;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
#tableau_gynecologue{
    float: left;
    width:  15%;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
#tableau_IST{
    float: left;
    width:  15%;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
#tableau_osteopathe{
    float: left;
    width:  15%;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

#planning{
    float: left;
    width: 80%;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
}

.infoMedecinPlanning{
    background-color: rgb(253,253,150);
}
.LibelleInfoPlanning{
    background-color: rgb(119,181,254);
}
.JourPlanning{
    background-color: rgb(176,242,182); 
}



/* /////////////////////////// */
#footer{
    float:left;
    background-color : #2d80e1;
    color : white;
    width : 100%;
    height : 350px;
    font-size : 80%;
    text-align : center;
}
#img_map{ 
    float : right; 
    margin-top: 40px; 
    margin-right: 50px; 
}